{% extends "layout.html" %} {% block content %}

<div class="container-fluid row align-items-end" id="mainPicture">
    <div id="map"></div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
<script>
    mapboxgl.accessToken =
        "pk.eyJ1IjoiZ3psZWlzaW5nIiwiYSI6ImNrOGJmMnlzajA4OGUza3MyZ2gyNmRqZGEifQ.HDcR0vD84eVvS3mbM2eshA";
    var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/navigation-guidance-night-v4",
        center: [-118.2437, 34.0522],
        zoom: 10,
        minZoom: 10
    });

    let bounds = [
        [-119, 33.5],
        [-117, 34.7]
    ];

    map.setMaxBounds(bounds);

    map.addControl(
        new MapboxDirections({
            accessToken: mapboxgl.accessToken
        }),
        "top-left"
    );
    // HeatMap Layer
    // map.on(btnPress, function(){})
    map.on('load', function(){
        map.addSource('traffic', {
        type: 'geojson',
        data: './static/traffic.geojson'
        })
    

    map.addLayer({
        id: 'traffic-heat',
        type: 'heatmap',
        source: 'traffic',
        maxzoom: 15,
        paint: {
            // increase weight as diameter breast height increases
            'heatmap-weight': {
            property: 'dbh',
            type: 'exponential',
            stops: [
                [1, 0],
                [62, 1]
            ]
        },
        // increase intensity as zoom level increases
        'heatmap-intensity': {
            stops: [
                [11, 1],
                [15, 3]
            ]
        },
        // assign color values be applied to points depending on their density
        'heatmap-color': [
            'interpolate',
            ['linear'],
            ['heatmap-density'],
            0, 'rgba(236,222,239,0)',
            0.2, 'rgb(208,209,230)',
            0.4, 'rgb(166,189,219)',
            0.6, 'rgb(103,169,207)',
            0.8, 'rgb(28,144,153)'
        ],
        // increase radius as zoom increases
        'heatmap-radius': {
        stops: [
            [11, 15],
            [15, 20]
        ]
        },
        // decrease opacity to transition into the circle layer
        'heatmap-opacity': {
        default: 1,
        stops: [
            [14, 1],
            [15, 0]
        ]
        },
    }
});   

 // Individual Points Layer
 map.addLayer({
  id: 'traffic-point',
  type: 'circle',
  source: 'traffic',
  minzoom: 14,
  paint: {
    // increase the radius of the circle as the zoom level and dbh value increases
    'circle-radius': {
      property: 'dbh',
      type: 'exponential',
      stops: [
        [{ zoom: 15, value: 1 }, 5],
        [{ zoom: 15, value: 62 }, 10],
        [{ zoom: 22, value: 1 }, 20],
        [{ zoom: 22, value: 62 }, 50],
      ]
    },
    'circle-color': {
      property: 'dbh',
      type: 'exponential',
      stops: [
        [0, 'rgba(236,222,239,0)'],
        [10, 'rgb(236,222,239)'],
        [20, 'rgb(208,209,230)'],
        [30, 'rgb(166,189,219)'],
        [40, 'rgb(103,169,207)'],
        [50, 'rgb(28,144,153)'],
        [60, 'rgb(1,108,89)']
      ]
    },
    'circle-stroke-color': 'white',
    'circle-stroke-width': 1,
    'circle-opacity': {
      stops: [
        [14, 0],
        [15, 1]
      ]
    }
  }
});
 })
</script>
{% endblock content %}
