{% extends "layout.html" %} {% block content %}
<div class="container-fluid row align-items-end" id="mainPicture">
    <nav id="menu"></nav>
    <div id="map"></div>
</div>
<!-- <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
></script> -->
  <!-- Import jQuery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js"></script>
<link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css"
    type="text/css"
/>
<script>
    mapboxgl.accessToken =
        "pk.eyJ1IjoiZ3psZWlzaW5nIiwiYSI6ImNrOGJmMnlzajA4OGUza3MyZ2gyNmRqZGEifQ.HDcR0vD84eVvS3mbM2eshA";
    var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/navigation-preview-night-v4",
        center: [-118.2437, 34.0522],
        zoom: 10,
        minZoom: 10
    });

    let bounds = [
        [-119, 33.5],
        [-117.5, 34.5]
    ];

    map.setMaxBounds(bounds);

    // map.addControl(
    //     new MapboxDirections({
    //         accessToken: mapboxgl.accessToken
    //     }),
    //     "top-left"
    // );

    map.addControl(new mapboxgl.NavigationControl());
    map.scrollZoom.disable();

    // HeatMap Layer
    // map.on(btnPress, function(){})
    map.on("load", function() {
        map.addSource("traffic", {
            type: "geojson",
            data: "./static/num_accidents.geojson"
        });

        map.addLayer({
            id: "Accident Heatmap",
            type: "heatmap",
            source: "traffic",
            maxzoom: 15,
            layout: { visibility: "none" },
            paint: {
                // increase weight as diameter breast height increases
                "heatmap-weight": {
                    property: "num_accidents",
                    type: "exponential",
                    stops: [
                        [1, 0],
                        [62, 1]
                    ]
                },
                // increase intensity as zoom level increases
                "heatmap-intensity": {
                    stops: [
                        [11, 1],
                        [15, 3]
                    ]
                },
                // assign color values be applied to points depending on their density
                "heatmap-color": [
                    "interpolate",
                    ["linear"],
                    ["heatmap-density"],
                    0,
                    "rgba(30, 250, 30, 0)",
                    0.2,
                    "rgb(140, 250, 30)",
                    0.4,
                    "rgb(250, 250, 30)",
                    0.6,
                    "rgb(250,140,30)",
                    0.8,
                    "rgb(250,30,30)"
                ],
                // increase radius as zoom increases
                "heatmap-radius": {
                    stops: [
                        [11, 15],
                        [15, 20]
                    ]
                },
                // decrease opacity to transition into the circle layer
                "heatmap-opacity": {
                    default: 1,
                    stops: [
                        [14, 1],
                        [15, 0]
                    ]
                }
            }
        });

        // Individual Points Layer
        map.addLayer({
            id: "traffic-point",
            type: "circle",
            source: "traffic",
            minzoom: 14,
            layout: { visibility: "none" },
            paint: {
                // increase the radius of the circle as the zoom level and dbh value increases
                "circle-radius": {
                    property: "num_accidents",
                    type: "exponential",
                    stops: [
                        [{ zoom: 15, value: 1 }, 5],
                        [{ zoom: 15, value: 62 }, 10],
                        [{ zoom: 22, value: 1 }, 20],
                        [{ zoom: 22, value: 62 }, 50]
                    ]
                },
                "circle-color": {
                    property: "num_accidents",
                    type: "exponential",
                    stops: [
                        [0, "rgba(30,222,239,0)"],
                        [10, "rgb(30, 250, 140)"],
                        [20, "rgb(30, 250, 30)"],
                        [30, "rgb(140, 250, 30)"],
                        [40, "rgb(250, 250, 30)"],
                        [50, "rgb(250, 140, 30)"],
                        [60, "rgb(250, 30, 30)"]
                    ]
                },
                "circle-stroke-color": "white",
                "circle-stroke-width": 1,
                "circle-opacity": {
                    stops: [
                        [14, 0],
                        [15, 1]
                    ]
                }
            }
        });
    });

    var toggleableLayerIds = ["Accident Heatmap"];

    for (var i = 0; i < toggleableLayerIds.length; i++) {
        var id = toggleableLayerIds[i];

        var link = document.createElement("a");
        link.href = "#";
        link.className = "active";
        link.textContent = id;

        link.onclick = function(e) {
            var clickedLayer = this.textContent;
            console.log(clickedLayer);
            e.preventDefault();
            e.stopPropagation();

            var visibility = map.getLayoutProperty(clickedLayer, "visibility");

            if (visibility === "visible") {
                map.setLayoutProperty(clickedLayer, "visibility", "none");
                if (clickedLayer == "Accident Heatmap") {
                    map.setLayoutProperty(
                        "traffic-point",
                        "visibility",
                        "none"
                    );
                }
                this.className = "";
            } else {
                this.className = "active";
                map.setLayoutProperty(clickedLayer, "visibility", "visible");
                if (clickedLayer == "Accident Heatmap") {
                    map.setLayoutProperty(
                        "traffic-point",
                        "visibility",
                        "visible"
                    );
                }
            }
        };

        var layers = document.getElementById("menu");
        layers.appendChild(link);
    }

    // *******************************************************
        var draw = new MapboxDraw({
      // Instead of showing all the draw tools, show only the line string and delete tools
      displayControlsDefault: false,
      controls: {
        line_string: true,
        trash: true
      },
      styles: [
        // Set the line style for the user-input coordinates
        {
          "id": "gl-draw-line",
          "type": "line",
          "filter": ["all", ["==", "$type", "LineString"],
            ["!=", "mode", "static"]
          ],
          "layout": {
            "line-cap": "round",
            "line-join": "round"
          },
          "paint": {
            "line-color": "#438EE4",
            "line-dasharray": [0.2, 2],
            "line-width": 4,
            "line-opacity": 0.7
          }
        },
        // Style the vertex point halos
        {
          "id": "gl-draw-polygon-and-line-vertex-halo-active",
          "type": "circle",
          "filter": ["all", ["==", "meta", "vertex"],
            ["==", "$type", "Point"],
            ["!=", "mode", "static"]
          ],
          "paint": {
            "circle-radius": 12,
            "circle-color": "#FFF"
          }
        },
        // Style the vertex points
        {
          "id": "gl-draw-polygon-and-line-vertex-active",
          "type": "circle",
          "filter": ["all", ["==", "meta", "vertex"],
            ["==", "$type", "Point"],
            ["!=", "mode", "static"]
          ],
          "paint": {
            "circle-radius": 8,
            "circle-color": "#438EE4",
          }
        },
      ]
    });

    // Add the draw tool to the map
    map.addControl(draw);

    /***********************************************************/
    function updateRoute() {
      // Set the profile
      
      // Get the coordinates that were drawn on the map
   
      var data = populateCoords({start: [ -118.276945, 34.068798], dest: [ -118.273285, 34.052841]});
      console.log('Made it');
      
    }

    // tolerance between 0 and 1
    // 
    function populateCoords({start: [x1, y1], dest: [x2, y2]}, tolerance){
     // find route
        const interval = (Math.abs(x1 - x2) + Math.abs(y1-y2))/ 10.0; // computes maximum route length assuming we are always moving towards destination
        console.log('Interval = %f', interval);
        let currLoc = {x: x1, y: y1, numAccidents: 0};
        let nextLocation = {};
        const dest = {x: x2, y: y2, numAccidents: 0};
        const locationList = [];
        locationList.push([[x1, y1]]);

        $.getJSON('./static/num_accidents.geojson', function(data){
            for(i = 0; i < 50; i++){
               positivePoints = data.features.filter(function(T){ 
                  const xCord = T.geometry.coordinates[0];
                  const yCord = T.geometry.coordinates[1];

                    return Math.abs(dest.x - xCord) < Math.abs(dest.x - currLoc.x) && 
                           Math.abs(dest.y - yCord) < Math.abs(dest.y - currLoc.y) && 
                           Math.abs(currLoc.x - xCord) + Math.abs(currLoc.y - yCord) < interval && xCord != currLoc.x && yCord != currLoc.y;
                });
            // Choose the point that has the least number of accidents
            let minAccidents = -1;
            if(positivePoints.length == 0){
              currLoc.x = dest.x - currLoc.x > 0? currLoc.x - interval/2.0 : currLoc.x + interval/2.0 ;
              currLoc.y = dest.x - currLoc.y > 0? currLoc.y + interval/2.0 : currLoc.y - interval/2.0 ;
              locationList.push(JSON.parse(JSON.stringify([currLoc.x, currLoc.y])));
              console.log("pushed dummy point at %f, %f", currLoc.x, currLoc.y);
              continue;
            }
            let tempLoc;
                for (j = 0; j < positivePoints.length; j++){
                  if(minAccidents == -1 || minAccidents > positivePoints[j].properties.num_accidents || (minAccidents ==  positivePoints[j].properties.num_accidents 
                     && (Math.abs(tempLoc.x - currLoc.x) + Math.abs(tempLoc.y - currLoc.y))  > Math.abs(positivePoints[j].geometry.coordinates[0] - currLoc.x) + Math.abs(positivePoints[j].geometry.coordinates[1] - currLoc.y)  )){
                    minAccidents = positivePoints[j].properties.num_accidents;
                    tempLoc = {x: positivePoints[j].geometry.coordinates[0], y: positivePoints[j].geometry.coordinates[1] };
                  }
                }
                currLoc = tempLoc;

                locationList.push(JSON.parse(JSON.stringify([currLoc.x, currLoc.y])));
                console.log(`%d reached coords %f and %f. Number of positive points %d`, i, currLoc.x, currLoc.y, positivePoints.length );  
                if(Math.abs(dest.x - currLoc.x) < interval && Math.abs(dest.y - currLoc.y) < interval){
                  locationList.push([[dest.x, dest.y]]);
                  console.log("END IS REACHED");
                  console.log(locationList.join(';'));
                  break;
                }
            }
            // 3 properties
            // A) distance from currLoc, B) Safety (num_accidents), C) distance remaining to destination (amount of progress)
            console.log("Finshing Execution");
            var profile = "driving";
      var data = locationList;
      var lastFeature = data.length - 1;
      var coords = data;
      // Format the coordinates
      var newCoords = coords.join(';')
      // Set the radius for each coordinate pair to 25 meters
      var radius = [];
      coords.forEach(element => {
        radius.push(25);
      });
      console.log(newCoords);
      getMatch(newCoords, radius, profile);
        return locationList;
        });
        
    
    //  const coords = [[-118.14217, 34.10810],
    //     [-118.267612, 33.997698 ] ,    
    //     [ -118.289852, 34.004067],     
    //     [-118.08217, 34.04810],        
    //     [-118.06217, 34.02810],
    //     [-119, 34.10810]
    //     ]
    // return coords;
    }

    /******************************************************************************/
    // Make a Map Matching request
    function getMatch(coordinates, radius, profile) {
      // Separate the radiuses with semicolons
      var radiuses = radius.join(';')
      // Create the query
      var query = 'https://api.mapbox.com/matching/v5/mapbox/' + profile + '/' + coordinates + '?geometries=geojson&radiuses=' + radiuses + '&steps=true&access_token=' + mapboxgl.accessToken;
        console.log(query);
    // var xmlHttp = new XMLHttpRequest();
    // xmlHttp.open( "GET", query, false ); // false for synchronous request
    // xmlHttp.send( null );
    // console.log(xmlHttp.responseText);
      $.ajax({
        method: 'GET',
        url: query
      }).done(function(data) {
        // Get the coordinates from the response
        var coords = data.matchings[0].geometry;
        // Draw the route on the map
        addRoute(coords);
        console.log(data.matchings[0]);
        getInstructions(data.matchings[0]);
      });
    }

    // Draw the Map Matching route as a new layer on the map
    function addRoute(coords) {
      // If a route is already loaded, remove it
      if (map.getSource('route')) {
        map.removeLayer('route')
        map.removeSource('route')
      } else {
        map.addLayer({
          "id": "route",
          "type": "line",
          "source": {
            "type": "geojson",
            "data": {
              "type": "Feature",
              "properties": {},
              "geometry": coords
            }
          },
          "layout": {
            "line-join": "round",
            "line-cap": "round"
          },
          "paint": {
            "line-color": "#03AA46",
            "line-width": 8,
            "line-opacity": 0.8
          }
        });
      };
    }

    function getInstructions(data) {
      // Target the sidebar to add the instructions
      var directions = document.getElementById('directions');

      var legs = data.legs;
      var tripDirections = [];
      // Output the instructions for each step of each leg in the response object
      for (var i = 0; i < legs.length; i++) {
        var steps = legs[i].steps;
        for (var j = 0; j < steps.length; j++) {
          tripDirections.push('<br><li>' + steps[j].maneuver.instruction) + '</li>';
        }
      }
      directions.innerHTML = '<br><h2>Trip duration: ' + Math.floor(data.duration / 60) + ' min.</h2>' + tripDirections;
    }

    // If the user clicks the delete draw button, remove the layer if it exists
    function removeRoute() {
      if (map.getSource('route')) {
        map.removeLayer('route');
        map.removeSource('route');
      } else {
        return;
      }
    }

    map.on('load', updateRoute);
     map.on('draw.create', updateRoute);
    // map.on('draw.update', updateRoute);
    map.on('draw.delete', removeRoute);

</script>
{% endblock content %}
